[tools]
# -----------------------------------------------------------------------------
npm = "11.6.0"
node = "22"

# -----------------------------------------------------------------------------
[tasks."setup"]
description = "Setup project workspace"
run = "npm i"

[tasks."build"]
description = "Build project artifacts"
run = "npm run build"

# -----------------------------------------------------------------------------
[tasks."server:start"]
description = "Start server"
run = "npm run dev"

# -----------------------------------------------------------------------------
[tasks."storybook:start"]
description = "Start storybook"
run = "npm run storybook --ci"

# -----------------------------------------------------------------------------
[tasks.'github:workflow']
description = "Access to GitHub Actions workflow"
run = [
  'gh workflow'
]

[tasks.'github:workflow:run:local']
description = "Execute to GitHub Actions workflow of the package (LOCAL CONTAINER)"
dir = "{{cwd}}"
run = [
  'act -W .github/workflows/mission_hexalife-website.yml'
]

[tasks.'github:workflow:run:remote']
description = "Execute to GitHub Actions workflow of the package (REMOTE)"
dir = "{{cwd}}"
run = [
  "gh workflow run mission_hexalife-website.yml"
]
