.sb-main-fullscreen {
  /*width: 0;*/
  /*height: 0;*/

  /*background: #0f172a;*/
}

.sb-main-fullscreen > #storybook-root {
  margin: 0;
  paddin: 0;

  width: 100%;
  height: 100%;

  /*background: cornflowerblue;*/
}