[tools]
# -----------------------------------------------------------------------------
"aqua:godotengine/godot" = "4.5.1"

# -----------------------------------------------------------------------------
[tasks."setup"]
description = "Setup project workspace"
run = [
  "mise i"
]

[tasks."build"]
description = "Build project artifacts"
dir = "./main_v2"
run = [
  "mise exec -- godot --headless --verbose --export-debug Web {{cwd}}/services/game/build/engine/next/index.html"
]
depends_post = [
  "publish"
]

[tasks."publish"]
description = "Publish project artifacts"
run = [
  "rm -rf {{cwd}}/services/website/public/blob/game/next/index.html || exit 0",
  "cp -r {{cwd}}/services/game/build/engine/next {{cwd}}/services/website/public/blob/game/next/index.html"
]
run_windows = [
  'IF EXIST {{cwd}}\services\website\public\blob\game\next (RD /S /Q {{cwd}}\services\website\public\blob\game\next)',
  'XCOPY {{cwd}}\services\game\build\engine\next {{cwd}}\services\website\public\blob\game\next\ /E /I'
]

# -----------------------------------------------------------------------------
[tasks."editor:main:v1"]
description = "Run main engine editor"
dir = "./main_v1"
run = [
  "mise exec -- godot --editor"
]

[tasks."editor:main:v2"]
description = "Run main engine editor"
dir = "./main_v2"
run = [
  "mise exec -- godot --editor"
]

[tasks."editor:test"]
description = "Run test engine editor"
dir = "./test"
run = [
  "mise exec -- godot --editor"
]

# -----------------------------------------------------------------------------
[tasks.'github:workflow']
description = "Access to GitHub Actions workflow"
run = [
  'gh workflow'
]

[tasks.'github:workflow:run:local']
description = "Execute to GitHub Actions workflow of the package (LOCAL CONTAINER)"
dir = "{{cwd}}"
run = [
  'act -W .github/workflows/mission_hexalife-game-engine.yml'
]

[tasks.'github:workflow:run:remote']
description = "Execute to GitHub Actions workflow of the package (REMOTE)"
dir = "{{cwd}}"
run = [
  "gh workflow run mission_hexalife-game-engine.yml"
]
