name: 'Mission HeXalife - Game Engine'

on:
  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

  # Allows you to run this workflow from another workflow
  workflow_call:
    inputs:
      version:
        description: "Artifact tag version"
        type: string

env:
  MISE_EXPERIMENTAL: true
  # ---------------------------------------------------------------------------
  GODOT_VERSION: 4.5.1
  # ---------------------------------------------------------------------------
  SERVICE_GAME_DIR: "services/game"
  SERVICE_WEBSITE_DIR: "services/website"
  # ---------------------------------------------------------------------------
  PACKAGE_SRC_DIR: "services/game/engine"
  PACKAGE_BUILD_DIR: "services/game/build/engine"
  PACKAGE_DEPLOY_BASE_DIR: "services/website/public/blob/game"
  PACKAGE_ARTIFACT_NAME: "mission_hexalife-game-engine"
  PACKAGE_VERSION: "${{inputs.version || 'next' }}"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      PACKAGE_BUILD_DIR: ${{ steps.vars.outputs.PACKAGE_BUILD_DIR }}
      PACKAGE_ARTIFACT_NAME: ${{ steps.vars.outputs.PACKAGE_ARTIFACT_NAME }}
      PACKAGE_VERSION: ${{ steps.vars.outputs.PACKAGE_VERSION }}
    steps:
      - name: Set ENV variables as Job Outputs
        id: vars
        uses: actions/github-script@v8
        with:
          script: |
            const env = process.env;

            const variablesToExport = [
              'PACKAGE_BUILD_DIR',
              'PACKAGE_ARTIFACT_NAME',
              'PACKAGE_VERSION',
            ];

            for (const key of variablesToExport) {
              if (env[key]) {
                core.setOutput(key, env[key]);
              }
            }

  build:
    runs-on: ubuntu-24.04
    needs: setup
    container:
      image: barichello/godot-ci:4.5.1
    steps:
      - name: Setup container
        run: |
          # Godot configuration
          if [ "$HOME" != '/root' ]; then
            mkdir -v -p ~/.local/share/godot/export_templates/
            mv /root/.local/share/godot/export_templates/${{env.GODOT_VERSION}}.stable ~/.local/share/godot/export_templates/${{env.GODOT_VERSION}}.stable
          fi
          
          # Install missing packages
          apt update
          apt install -y \
            curl \
            nodejs

      - name: Checkout workspace
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Setup workspace
        run: |
          mise -v run //${{env.PACKAGE_SRC_DIR}}:setup

      - name: Run engine build
        timeout-minutes: 1
        run: |
          mkdir -p ${{env.PACKAGE_BUILD_DIR}}/${{env.PACKAGE_VERSION}}
          mise -v run //${{env.PACKAGE_SRC_DIR}}:build version=${{env.PACKAGE_VERSION}}

      - name: Upload engine artifact
        uses: actions/upload-artifact@v5
        with:
          name: "${{needs.setup.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.setup.outputs.PACKAGE_VERSION}}"
          path: "${{needs.setup.outputs.PACKAGE_BUILD_DIR}}"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Download engine artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{needs.setup.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.setup.outputs.PACKAGE_VERSION}}"
          path: "${{needs.setup.outputs.PACKAGE_BUILD_DIR}}"

      - name: Copy engine artifact to website static content
        run: |
          if [ ! -d "${{env.PACKAGE_DEPLOY_BASE_DIR}}" ]; then
            mkdir -p "${{env.PACKAGE_DEPLOY_BASE_DIR}}"
          fi
          if [ -d "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}" ]; then
            rm -rf "${{env.PACKAGE_DEPLOY_DEPLOY_DIR}}/${{env.PACKAGE_VERSION}}"
          fi
          cp -r "${{env.PACKAGE_BUILD_DIR}}" "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}"

      - name: Commit and push changes to ${{github.base_ref}}
        env:
          COMMIT_MSG: "Deploy game artifacts from workflow run ${{ github.run_id }}"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A .
          # Only commit if there are staged changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "$COMMIT_MSG"
            git push origin HEAD:main
          fi
