name: 'Mission HeXalife - Game'

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs on pushes targeting the main branch
  push:
    branches:
      - "main"
    paths:
      - "${{env.SERVICE_GAME_DIR}}/**"

env:
  # ---------------------------------------------------------------------------
  SERVICE_GAME_DIR: "services/game"
  SERVICE_WEBSITE_DIR: "services/website"
  # ---------------------------------------------------------------------------
  ENGINE_VERSION: "next"
  ENGINE_SRC_DIR: "services/game/engine"
  ENGINE_BUILD_DIR: "services/game/build/engine"
  ENGINE_DEPLOY_BASE_DIR: "services/website/public/blob/game"
  ENGINE_ARTIFACT_NAME: "mission_hexalife-game-engine-next"
  # ---------------------------------------------------------------------------
  STORY_VERSION: "next"
  STORY_SRC_DIR: "services/game/story"
  STORY_BUILD_DIR: "services/game/build/story"
  STORY_DEPLOY_BASE_DIR: "services/website/public/blob/story"
  STORY_ARTIFACT_NAME: "mission_hexalife-game-story-next"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      engine_changes: ${{ steps.changes.outputs.engine_changes }}
      story_changes: ${{ steps.changes.outputs.story_changes }}
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Setup workspace
        run: |
          mise -v run /${{SERVICE_GAME_DIR}}:setup

      - name: Detect path changes
        id: changes
        uses: dorny/paths-filter@v2
        with:
          filters: |
            engine_changes:
              - '${{env.ENGINE_SRC_DIR}}/**'
            story_changes:
              - '${{env.STORY_SRC_DIR}}/**'

      - name: Run engine build
        if: steps.changes.outputs.engine_changes == 'true
        run: |
          mise -v run //${{SERVICE_GAME_DIR}}:engine:build version=${{env.ENGINE_VERSION}}

      - name: Upload engine artifact
        if: steps.changes.outputs.engine_changes == 'true
        uses: actions/upload-artifact@v5
        with:
          path: "${{env.ENGINE_BUILD_DIR}}"
          name: "${{env.ENGINE_ARTIFACT_NAME}}"
          
      - name: Run story build
        if: steps.changes.outputs.story_changes == 'true
        run: |
          mise -v run //${{SERVICE_GAME_DIR}}:story:build version=${{env.STORY_VERSION}}

      - name: Upload story artifact
        if: steps.changes.outputs.story_changes == 'true
        uses: actions/upload-artifact@v5
        with:
          path: "${{env.STORY_BUILD_DIR}}"
          name: "${{env.STORY_ARTIFACT_NAME}}"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Download engine artifact
        if: needs.build.outputs.engine_changes == 'true
        uses: actions/download-artifact@v4
        with:
          name: "${{env.ENGINE_ARTIFACT_NAME}}"
          path: ${{env.ENGINE_BUILD_DIR}}

      - name: Copy engine artifact to website static content
        if: needs.build.outputs.engine_changes == 'true
        run: |
          if [ ! -d "${{env.ENGINE_DEPLOY_BASE_DIR}}" ]; then
            mkdir -p "${{env.ENGINE_DEPLOY_BASE_DIR}}"  
          fi
          if [ -d "${{env.ENGINE_DEPLOY_BASE_DIR}}/${{env.ENGINE_VERSION}}" ]; then
            rm -rf "${{env.ENGINE_DEPLOY_DEPLOY_DIR}}/${{env.ENGINE_VERSION}}"
          fi
          cp -r "${{env.ENGINE_BUILD_DIR}} "${{env.ENGINE_DEPLOY_BASE_DIR}}/${{env.ENGINE_VERSION}}"
          
      - name: Download story artifact
        if: needs.build.outputs.story_changes == 'true
        uses: actions/download-artifact@v4
        with:
          name: "${{env.STORY_ARTIFACT_NAME}}"
          path: /tmp/mission_hexalife/story/${{env.STORY_VERSION}}

      - name: Copy story artifact to website static content
        if: needs.build.outputs.story_changes == 'true
        run: |
          if [ ! -d "${{env.STORY_DEPLOY_BASE_DIR}}" ]; then
            mkdir -p "${{env.STORY_DEPLOY_BASE_DIR}}"  
          fi
          if [ -d "${{env.STORY_DEPLOY_BASE_DIR}}/${{env.STORY_VERSION}}" ]; then
            rm -rf "${{env.STORY_DEPLOY_DEPLOY_DIR}}/${{env.STORY_VERSION}}"
          fi
          cp -r "${{env.STORY_BUILD_DIR}} "${{env.STORY_DEPLOY_BASE_DIR}}/${{env.STORY_VERSION}}"

      - name: Commit and push changes to ${{github.base_ref}}
        env:
          COMMIT_MSG: "Deploy game artifacts from workflow run ${{ github.run_id }}"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A .
          # Only commit if there are staged changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "$COMMIT_MSG"
            git push origin HEAD:main
          fi