name: 'Mission HeXalife - Game Engine'

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs on pushes targeting the main branch
  push:
    branches:
      - "main"
    paths:
      - "services/game/engine/"

env:
  MISE_EXPERIMENTAL: true
  # ---------------------------------------------------------------------------
  SERVICE_GAME_DIR: "services/game"
  SERVICE_WEBSITE_DIR: "services/website"
  # ---------------------------------------------------------------------------
  ENGINE_SRC_DIR: "services/game/engine"
  ENGINE_BUILD_DIR: "services/game/build/engine"
  ENGINE_DEPLOY_BASE_DIR: "services/website/public/blob/game"
  ENGINE_ARTIFACT_NAME: "mission_hexalife-game-engine-next"
  ENGINE_VERSION: "next"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.3
    steps:
      - name: Setup container
        run: |
          apt update
          apt install -y \
            curl

      - name: Checkout workspace
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Setup workspace
        run: |
          mise -v run //${{env.ENGINE_SRC_DIR}}:setup

      - name: Run engine build
        run: |
          mise -v run //${{env.ENGINE_SRC_DIR}}:build 
          # version=${{env.ENGINE_VERSION}}

      - name: Upload engine artifact
        uses: actions/upload-artifact@v5
        with:
          path: "${{env.ENGINE_BUILD_DIR}}"
          name: "${{env.ENGINE_ARTIFACT_NAME}}"

#  deploy:
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#        with:
#          persist-credentials: true
#
#      - name: Download engine artifact
#        if: needs.build.outputs.engine_changes == 'true'
#        uses: actions/download-artifact@v4
#        with:
#          name: "${{env.ENGINE_ARTIFACT_NAME}}"
#          path: ${{env.ENGINE_BUILD_DIR}}
#
#      - name: Copy engine artifact to website static content
#        if: needs.build.outputs.engine_changes == 'true'
#        run: |
#          if [ ! -d "${{env.ENGINE_DEPLOY_BASE_DIR}}" ]; then
#            mkdir -p "${{env.ENGINE_DEPLOY_BASE_DIR}}"
#          fi
#          if [ -d "${{env.ENGINE_DEPLOY_BASE_DIR}}/${{env.ENGINE_VERSION}}" ]; then
#            rm -rf "${{env.ENGINE_DEPLOY_DEPLOY_DIR}}/${{env.ENGINE_VERSION}}"
#          fi
#          cp -r "${{env.ENGINE_BUILD_DIR}} "${{env.ENGINE_DEPLOY_BASE_DIR}}/${{env.ENGINE_VERSION}}"
#
#      - name: Download story artifact
#        if: needs.build.outputs.story_changes == 'true'
#        uses: actions/download-artifact@v4
#        with:
#          name: "${{env.STORY_ARTIFACT_NAME}}"
#          path: /tmp/mission_hexalife/story/${{env.STORY_VERSION}}
#
#      - name: Copy story artifact to website static content
#        if: needs.build.outputs.story_changes == 'true'
#        run: |
#          if [ ! -d "${{env.STORY_DEPLOY_BASE_DIR}}" ]; then
#            mkdir -p "${{env.STORY_DEPLOY_BASE_DIR}}"
#          fi
#          if [ -d "${{env.STORY_DEPLOY_BASE_DIR}}/${{env.STORY_VERSION}}" ]; then
#            rm -rf "${{env.STORY_DEPLOY_DEPLOY_DIR}}/${{env.STORY_VERSION}}"
#          fi
#          cp -r "${{env.STORY_BUILD_DIR}} "${{env.STORY_DEPLOY_BASE_DIR}}/${{env.STORY_VERSION}}"
#
#      - name: Commit and push changes to ${{github.base_ref}}
#        env:
#          COMMIT_MSG: "Deploy game artifacts from workflow run ${{ github.run_id }}"
#        run: |
#          git config user.name "github-actions[bot]"
#          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
#          git add -A .
#          # Only commit if there are staged changes
#          if git diff --staged --quiet; then
#            echo "No changes to commit"
#          else
#            git commit -m "$COMMIT_MSG"
#            git push origin HEAD:main
#          fi