name: 'Mission HeXalife - Game'

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs on pushes targeting the main branch
  push:
    branches:
      - "main"
    paths:
      - "services/game/**"

env:
  # ---------------------------------------------------------------------------
  SERVICE_GAME_VERSION: "next"
  SERVICE_GAME_ENGINE_DIR: "services/game/engine"
  SERVICE_GAME_STORY_DIR: "services/game/story"
  # ---------------------------------------------------------------------------
  SERVICE_WEBSITE_DIR: "services/website"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      # -----------------------------------------------------------------------
      SERVICE_GAME_VERSION: ${{ steps.vars.outputs.SERVICE_GAME_VERSION }}
      # -----------------------------------------------------------------------
      ENGINE_CHANGES: ${{ steps.changes.outputs.engine_changes }}
      STORY_CHANGES: ${{ steps.changes.outputs.story_changes }}
    steps:
      - name: Set ENV variables as Job Outputs
        id: vars
        uses: actions/github-script@v8
        with:
          script: |
            const env = process.env;
            
            const variablesToExport = [
              'SERVICE_GAME_VERSION',
            ];

            for (const key of variablesToExport) {
              if (env[key]) {
                core.setOutput(key, env[key]);
              }
            }
            
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect path changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            engine_changes:
              - '${{ env.SERVICE_GAME_ENGINE_DIR }}/**'
            story_changes:
              - '${{ env.SERVICE_GAME_STORY_DIR }}/**'

  engine:
    uses: ./.github/workflows/mission_hexalife-game-engine.yml
    needs: setup
    if: ${{ github.event_name == 'workflow_dispatch' || needs.setup.outputs.ENGINE_CHANGES == 'true' }}
    with:
      version: ${{ needs.setup.outputs.game_version }}

  story:
    uses: ./.github/workflows/mission_hexalife-game-story.yml
    needs: setup
    if: ${{ github.event_name == 'workflow_dispatch' || needs.setup.outputs.STORY_CHANGES == 'true' }}
    with:
      version: ${{ needs.setup.outputs.game_version }}

  publish:
    runs-on: ubuntu-latest
    needs: [ engine, story ]
    if: always()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          persist-credentials: true

      - name: Clean deployment folders
        run: |
          if [ -d "${{needs.engine.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.engine.outputs.PACKAGE_VERSION}}" ]; then
            rm -rf "${{needs.engine.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.engine.outputs.PACKAGE_VERSION}}"
          fi
          if [ -d "${{needs.story.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.story.outputs.PACKAGE_VERSION}}" ]; then
            rm -rf "${{needs.story.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.story.outputs.PACKAGE_VERSION}}"
          fi

      - name: Download game engine artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{needs.engine.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.engine.outputs.PACKAGE_VERSION}}"
          path: "${{needs.engine.outputs.PACKAGE_DEPLOY_DIR}}"
        if: github.event_name == 'workflow_dispatch' || needs.setup.outputs.ENGINE_CHANGES == 'true'

      - name: Download game story artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{needs.story.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.story.outputs.PACKAGE_VERSION}}"
          path: "${{needs.story.outputs.PACKAGE_DEPLOY_DIR}}"
        if: github.event_name == 'workflow_dispatch' || needs.setup.outputs.STORY_CHANGES == 'true'

      - name: Commit and push changes to ${{github.base_ref}}
        env:
          COMMIT_MSG: "Deploy game artifacts from workflow run ${{ github.run_id }}"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          if [ -d "${{needs.engine.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.engine.outputs.PACKAGE_VERSION}}" ]; then
            git add -f "${{needs.engine.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.engine.outputs.PACKAGE_VERSION}}"
          fi
          if [ -d "${{needs.story.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.story.outputs.PACKAGE_VERSION}}" ]; then
            git add -f "${{needs.story.outputs.PACKAGE_DEPLOY_DIR}}/${{needs.story.outputs.PACKAGE_VERSION}}"
          fi
          
          git status
          
          # Only commit if there are staged changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "$COMMIT_MSG"
            git push origin HEAD:main
          fi

  deploy:
    runs-on: ubuntu-latest
    needs: [ publish ]
    steps:
      - name: "Run service website workflow"
        uses: peter-evans/repository-dispatch@v4
        with:
          event-type: game-updated