name: 'Mission HeXalife - Game Story'

on:
  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

  # Allows you to run this workflow from another workflow
  workflow_call:
    inputs:
      version:
        description: "Artifact tag version"
        type: string

env:
  MISE_EXPERIMENTAL: true
  # ---------------------------------------------------------------------------
  SERVICE_GAME_DIR: "services/game"
  SERVICE_WEBSITE_DIR: "services/website"
  # ---------------------------------------------------------------------------
  PACKAGE_SRC_DIR: "services/game/story"
  PACKAGE_BUILD_DIR: "services/game/build/story"
  PACKAGE_DEPLOY_BASE_DIR: "services/website/public/blob/story"
  PACKAGE_ARTIFACT_NAME: "mission_hexalife-game-story"
  PACKAGE_VERSION: "${{inputs.version || 'next' }}"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      PACKAGE_BUILD_DIR: ${{ steps.vars.outputs.PACKAGE_BUILD_DIR }}
      PACKAGE_ARTIFACT_NAME: ${{ steps.vars.outputs.PACKAGE_ARTIFACT_NAME }}
      PACKAGE_VERSION: ${{ steps.vars.outputs.PACKAGE_VERSION }}
    steps:
      - name: Set ENV variables as Job Outputs
        id: vars
        uses: actions/github-script@v8
        with:
          script: |
            const env = process.env;
            
            const variablesToExport = [
              'PACKAGE_BUILD_DIR',
              'PACKAGE_ARTIFACT_NAME',
              'PACKAGE_VERSION',
            ];

            for (const key of variablesToExport) {
              if (env[key]) {
                core.setOutput(key, env[key]);
              }
            }

  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Setup workspace
        run: |
          mise -v run //${{env.PACKAGE_SRC_DIR}}:setup

      - name: Run story build
        timeout-minutes: 1
        run: |
          mkdir -p ${{env.PACKAGE_BUILD_DIR}}/${{env.PACKAGE_VERSION}}
          mise -v run //${{env.PACKAGE_SRC_DIR}}:build 
          #version=${{env.PACKAGE_VERSION}}

      - name: Upload story artifact
        uses: actions/upload-artifact@v5
        with:
          name: "${{needs.setup.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.setup.outputs.PACKAGE_VERSION}}"
          path: "${{needs.setup.outputs.PACKAGE_BUILD_DIR}}"

  publish:
    runs-on: ubuntu-latest
    needs: [setup, build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          persist-credentials: true

      - name: Download story artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{needs.setup.outputs.PACKAGE_ARTIFACT_NAME}}-${{needs.setup.outputs.PACKAGE_VERSION}}"
          path: "${{needs.setup.outputs.PACKAGE_BUILD_DIR}}"

      - name: Copy story artifact to website static content
        run: |
          if [ ! -d "${{env.PACKAGE_DEPLOY_BASE_DIR}}" ]; then
            mkdir -p "${{env.PACKAGE_DEPLOY_BASE_DIR}}"
          fi
          if [ -d "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}" ]; then
            rm -rf "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}"
          fi
          cp -r "${{env.PACKAGE_BUILD_DIR}}" "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}"

      - name: Commit and push changes to ${{github.base_ref}}
        env:
          COMMIT_MSG: "Deploy game artifacts from workflow run ${{ github.run_id }}"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -f "${{env.PACKAGE_DEPLOY_BASE_DIR}}/${{env.PACKAGE_VERSION}}"
          # Only commit if there are staged changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "$COMMIT_MSG"
            git push origin HEAD:main
          fi
